body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

.copyright {
  position:absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-48%);
}

.login {
  position: absolute;
  box-shadow: 0px 10px 30px black;
  top: 30vh;
  left: 50vw;
  width: 400px;
  margin-left: -200px;
  height: 150px;
  background: white;
}

.btn-hi {
  position: absolute;
  bottom: 10vh;
  left: 50vw;
  transform:translate(-50%,0);
}